.navbar-brand{
    display: flex;
    align-items: baseline;
}

.far{
    font-size: 2rem;    
    padding: .2em;
}

.fas{
    cursor: pointer;
    font-size: 1.6rem;
    padding: .5em;
    /* font-weight: 500; */
}

.container-fluid{
    height: 100vh;
}

.container{
    height: 80%;
}


.add-note{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.note-form{
    /* width: 40%;
    height: 60%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#textarea{
    resize: none;
    height: 80%; 
}

.card-top{
    font-weight: 700;
    color: #000;
}